/* Button styles */
.button {
    display: inline-block;
    padding: 15px;
    background-color: #75f94c;
    color: #444444;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 150px; /* Set a fixed width for all buttons */
}

.button:hover {
    background-color: #68e043;
}

/* Delete button specific style */
.button.delete-button {
    background-color: #ec0000;
    color: #FFFFFF;
}

.button.delete-button:hover {
    background-color: #d40000;
}

/* Ensure all buttons in feature cards have consistent styling */
.bricks-feature-card .button {
    margin-top: 10px;
    display: block; /* Make button full width of its container */
    width: 100%; /* Full width of container */
    max-width: 200px; /* Maximum width */
    margin-left: auto;
    margin-right: auto;
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
    .button {
        width: 100%; /* Full width on smaller screens */
        max-width: none;
    }
}