.bricks-remote-template-options {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.bricks-ui-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bricks-feature-card {
    background-color: #444444;
    border-radius: 8px;
    padding: 20px;
    color: #FFFFFF;
}

.bricks-feature-card h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.bricks-feature-card p {
    margin-bottom: 20px;
    font-size: 14px;
}

.button {
    display: inline-block;
    width: 100%;
    padding: 15px;
    background-color: #75f94c;
    color: #444444;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #68e043;
}

.button.delete-button {
    background-color: #ec0000;
    color: #FFFFFF;
}

.button.delete-button:hover {
    background-color: #d40000;
}

.bricks-sub-ui {
    background-color: #555555;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
}

.bricks-sub-ui h3 {
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 10px;
}

.bricks-sub-ui input[type="file"],
.bricks-sub-ui input[type="url"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    background-color: #666666;
    color: #FFFFFF;
}

.hidden {
    display: none;
}